doctype html
html
  head
    title My resume
    link rel="stylesheet" href="css/application.css"
  body
    .container
      h1 Resume

      section.mb-4
        h2 株式会社エクストーン(2008-06-01 〜)

        ul.list-group
          li.list-group-item
            .d-flex.w-100.justify-content-between
              h3 出版社運営Webマンガサイトの統合＆新規立ち上げ
              span 2018-04 〜
            ul
              li 既存の2サイトの作品データを統合し、新ブランドとしてデザインも一新、モバイルファーストのSPAとした。
              li Ruby on Rails 5, React.js

          li.list-group-item
            .d-flex.w-100.justify-content-between
              h3 レストラン・飲食店向け予約管理システムの管理画面開発
              span 2016-04 〜
            ul
              li 新バージョンの管理画面の新規作成、旧バージョンの管理画面の修正を共に担当
              li Ruby on Rails 4

          li.list-group-item
            .d-flex.w-100.justify-content-between
              h3 出版社運営ショートWebマンガサイトの開発
              span 2017-09 〜
            ul
              li 1ページのマンガ画像をおおよそ1日1回、Twitterへ展開する。サイトではバックナンバーを読める。
              li Ruby on Rails 4

          li.list-group-item
            .d-flex.w-100.justify-content-between
              h3 出版社主催まんが賞応募プラットフォームの開発
              span 2017-07 〜
            ul
              li Webマンガサイトの管理画面の機能を流用し、一般からマンガ作品の応募を可能にした。

          li.list-group-item
            .d-flex.w-100.justify-content-between
              h3 東日本大震災の記憶を風化させないためのキャンペーンサイト
              span 2016-03
            ul
              li キャンペーンの趣旨に賛同する人が、自分のSNSアイコンを加工して特別仕様のものを作れた。賛同者数は記録されて掲示された。
              li Ruby on Rails 4, ImageMagick

          li.list-group-item
            .d-flex.w-100.justify-content-between
              h3 スマートフォン向けゲームの事前登録サイト開発
              span 2014
            ul
              li
                | 1人1日あたり決まった回数だけ、サイト上でガチャを回してキャラクターを引ける。
                br
                | サイト上のフォームからTwitterにツイートすると、残り回数を回復することができる。
                br
                | キャラクターは1人だけ「キープ」することができ、正式開始したゲーム内で実際に使用できる。
              li サイトの構築、ガチャの実装
              li Ruby on Rails 4, JavaScript

          li.list-group-item
            .d-flex.w-100.justify-content-between
              h3 出版社運営Webマンガサイトの開発
              span 2013-06 〜 2018-07
            ul
              li
                | マンガビューワーを備え、Webサイト上でオリジナルのマンガを読める。
              li
                | 管理画面とモデルとマンガビューワーをそれぞれ、Rails Engine化し、同様のサイトを複数開発できる体制を整えた。
              li Ruby on Rails 3 -> 4

          li.list-group-item
            .d-flex.w-100.justify-content-between
              h3 マンガ出版社コーポレートサイト開発
              span 2013-04 〜
            ul
              li
                | 古いサイトからのリニューアル案件。運用の改善のため、新しいデータ構造の設計と移行が必要だった。
              li Ruby on Rails 3
          li.list-group-item
            .d-flex.w-100.justify-content-between
              h3 鉄道会社早起きキャンペーン
              span 2013 〜 2015
            ul
              li
                | 特設の装置から交通系ICカードに記録された改札の通過情報を読み、キャンペーンの条件に合致シたらポイントを付与する。
                br
                | ポイントを貯めて、景品プレゼントに応募できる。
              li サーバのAPI、参加者マイページの実装を担当



      section.mb-4
        h2 有限会社コスモゲートシステム(2007-04-01 〜 2008-05-31)

        ul.list-group
          li.list-group-item
            .d-flex.w-100.justify-content-between
              h3 Windows用3DCADソフト「あ！動く図面」開発

      section.mb-4
        h2 株式会社富士電機リテイルシステムズ(2005-04-01 〜 2007-03-31)
